API_ID=26392626
API_HASH=02dc0d9ceef65fd2c59830d602f5128d
BOT_TOKEN=7993275748:AAFRtZbwazpViqK7I5G__7TKALOBt7ULPWI
LOGGER_ID=-1002778259790
MONGO_DB_URI=mongodb+srv://knight4563:knight4563@cluster0.a5br0se.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7495324168
STRING_SESSION=BQGSuDIAI3bQtiaUurYpER4dVrl8VPFw2ZeYB154IcXEW9XmmTT9RrGgtgGBYUTSevOPcV7CFVnRp9QAvm5JonNFflu5xc4hyXi4ygcQ4BmlNUGRsQsZClzPx1U0C_WndqZQjW2trFqifiGC94JkRnI-_HCC6C5GozjEzH1JHSXKHH1p1D7JkANMCFNf4SCeD_fgT-b_fz1pPI1gzdzn3_rgfPT2oCK72ezekbWw3mTjoq5LBLT0GZe7oZb1SXR8AnsgYsvhVZA9hfHwUQXmY8kZLeU4lD74LQboJrazgoUdeYtbJ6AqYsd8V_0f3V0u6nvFU_LD4emf9rgphiDnJh3Sz2u8xwAAAAG0aK8YAA